.Rhistory
*_precalculated.tab
*_precalculated.tab.gz
gg_13_5.fasta.gz
picrust_starting_files/
MiSeq_SOP/
asr*
asr/
.Rproj.user
.Rproj.user/**
testing_workflow/
new_ref/
reference_files/
out/
asr/
gg_13_5_study_db_aligned/
MiSeq_SOP/
dhantha_data/